# Ignore LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.snm
*.nav
*.fdb_latexmk

# Ignore BibTeX auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

# Ignore compiled LaTeX output
*.synctex*
proposal/proposal.pdf
proposal_presentation/proposal-presentation.pdf
intermediate_report/intermediate_report.pdf

# Ignore Sublime project files
*.sublime*

# Ignore JabRef temp files
*.bib.*