<launch>
  <arg name="use_sim_time" default="true" />

  <include file="$(find p3dx_description)/launch/rviz.launch" />
  <include file="$(find p3dx_gazebo)/launch/gazebo.launch" >
  	<arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>
  <include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch" />
  <include file="$(find p3dx_navigation)/launch/move_base.launch" >
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>
  <include file="$(find frontier_exploration)/launch/global_map.launch" />
  <include file="$(find object_candidates)/launch//servers.launch" />
</launch>
