<launch>

  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find candidate_locator)/debug_config.conf"/> -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find octomap_server)/debug_config.conf"/>
  <arg name="use_sim_time" default="true" />
  <arg name="output" default="screen" />
  <arg name="method" default="information_gain" />
  <arg name="world" default="testing_room_with_objects2.world" />
  <arg name="available_time" default="600.0" />
  <arg name="inf_obstacle" default="10.0" />
  <arg name="inf_obstacle_unexplored" default="20.0" />
  <arg name="inf_object" default="100.0" />
  <arg name="inf_object_unexplored" default="30.0" />
  <arg name="inf_unexplored" default="1.0" />
  <arg name="cheat_mode" default="true" />
  
  <param name="cheat_mode" type="bool" value="$(arg cheat_mode)"/>
  <param name="world" type="str" value="$(arg world)"/>

  <include file="$(find p3dx_description)/launch/rviz.launch" />

  <include file="$(find p3dx_gazebo)/launch/gazebo.launch" >
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="false" />
    <arg name="world" value="$(arg world)"/>
  </include>

  <include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch" />

  <include file="$(find p3dx_navigation)/launch/move_base.launch" >
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>

  <include file="$(find frontier_exploration)/launch/global_map.launch" >
    <arg name="output_client" value="screen" />
    <arg name="output_server" value="$(arg output)" />
    <arg name="delay_time" value="2.0" />
    <arg name="available_time" value="$(arg available_time)" />
    <arg name="method" value="$(arg method)" />
    <arg name="inf_obstacle" value="$(arg inf_obstacle)" />
    <arg name="inf_obstacle_unexplored" value="$(arg inf_obstacle_unexplored)" />
    <arg name="inf_object" value="$(arg inf_object)" />
    <arg name="inf_object_unexplored" value="$(arg inf_object_unexplored)" />
    <arg name="inf_unexplored" value="$(arg inf_unexplored)" />
  </include>

  <include file="$(find object_candidates)/launch/servers.launch" />

  <include file="$(find evaluation)/launch/servers.launch">
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="method" value="$(arg method)" />
  </include>

  <include file="$(find candidate_locator)/launch/servers.launch" >
    <!-- <arg name="output" value="$(arg output)" /> -->
    <arg name="output" value="log" />
  </include>

  <include file="$(find octomap_server)/launch/octomap_mapping.launch" >
    <arg name="output" value="log" />
  </include>

</launch>
